[package]
name = "gammalooprs"
version = "0.0.1"
edition = "2021"
authors = ["Valentin Hirschi <valentin.hirschi@gmail.com>"]
categories = ["science"]
description = "An implementation of the Local Unitarity method for computing differential collider cross-sections."
keywords = ["loop", "cross-section", "perturbative", "physics"]
license-file = "LICENSE.md"
readme = "README.md"
repository = "https://github.com/alphal00p/gammaloop"


[profile.dev-optim]
inherits = "dev"
opt-level = 2
#lto=true

[profile.bench]
lto = "fat"

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[[bench]]
name = "gamma_net"
harness = false

[[bench]]
name = "evaluate_net"
harness = false

[[example]]
name = "gamma_chains"
path = "examples/rust/tensors/gamma_chain.rs"

[[example]]
name = "gamma_network"
path = "examples/rust/tensors/gamma_network.rs"

[[example]]
name = "evaluate_network"
path = "examples/rust/tensors/evaluate_network.rs"

[dependencies]
symbolica = { path = "./python/gammaloop/dependencies/symbolica" }
#symbolica = { git = "https://github.com/alphal00p/symbolica" }
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "*"
bincode = "1.3.3"
clap = "2.34"
color-eyre = { version = "^0.3", default-features = false }
eyre = "^0.4"
f128 = { git = "https://github.com/benruijl/f128" }
lorentz_vector = { git = "https://github.com/benruijl/lorentz_vector", branch = "hyperdual", features = [
    "serde_support",
    "hyperdual_support",
    "f128_support",
] }
hyperdual = { git = "https://gitlab.com/benruijl/hyperdual" }
rand = "0.8"
rayon = "1.5"
tabled = "0.7"
enum_dispatch = "*"
git-version = "0.3"
colored = "*"
yaml-rust = "0.4"
libc = "0.2.0"
statrs = "0.16.0"
smallvec = { version = "1.7", features = ["const_generics"] }
itertools = "0.8"
smartstring = { version = "*", features = ["serde"] }
vectorize = "0.2.0"
log = "*"
env_logger = "*"
pyo3-log = "*"
nalgebra = "0.32.3"
num-complex = "0.4.4"
rug = "1.22.0"
wide = "0.7.13"
arbitrary-int = { version = "1.2.6", features = ["num-traits"] }
duplicate = "1.0.0"
rustc-hash = "1.1.0"
petgraph = "0.6.4"
enum-try-as-inner = "0.1.1"
indexmap = "2.2.2"
nohash-hasher = "0.2.0"

permutation = "0.4.1"
slotmap = { version = "1.0.7", features = ["serde"] }
ahash = { version = "0.8.8", features = ["serde"] }
num = { version = "0.4.1", features = ["serde"] }
pprof = { version = "0.13.0", features = ["flamegraph"] }
derive_more = "0.99.17"
rand_xoshiro = "0.6.0"
funty = "2.0.0"
block-id = "0.2.1"
once_cell = "1.19.0"
enum_delegate = { git = "https://gitlab.com/dawn_app/enum_delegate" }
treena = "0.0.5"
serde_json = "1.0.115"
ctrlc = "3.4.4"
constcat = "0.5.0"

[dependencies.pyo3]
features = ["multiple-pymethods"]
optional = true
version = "0.19"

[build-dependencies]
pyo3-build-config = "*"

[lib]
crate-type = ["cdylib", "lib"]
name = "_gammaloop"
required-features = ["python_api"]
bench = false
[[bin]]
name = "cli"
required-features = ["binary"]
bench = false
[features]
extension-module = ["pyo3/extension-module"]
default = ["python_api"]

python_api = ["pyo3", "extension-module"]
binary = []
fail-on-warnings = []
