[tool.poetry]
name = "gammaloop"
version = "0.1.1"
description = "Gammaloop computes differential cross-sections using Local Unitarity"
authors = [
  "Valentin Hirschi <valentin.hirschi@gmail.com>",
  "Mathijs Fraaije <mathijsfraaije@gmail.com>",
  "Lucien Huber <mail@lcnbr.ch>",
]

[tool.poetry.dependencies]
python = "^3.11"
pytest = "^7.4.2"
pymupdf = "^1.23.4"
autopep8 = "^2.0.4"
pyaml = "^23.12.0"

[tool.poetry.dev-dependencies]
PyYAML = "^6.0.1"
symbolica = "^0.1.0"

[tool.poetry.group.dev.dependencies]
black = "^23.12.1"

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "gammaloop"
version = "0.1.1"
description = "Gammaloop computes differential cross-sections using Local Unitarity"
readme = "README.md"
license = { file = "LICENSE.md" }
keywords = ["physics", "collider", "cross-section", "perturbative", "loop"]
authors = [
  { name = "Valentin Hirschi", email = "valentin.hirschi@gmail.com" },
  { name = "Mathijs Fraaije", email = "mathijsfraaije@gmail.com" },
  { name = "Lucien Huber", email = "mail@lcnbr.ch" },
]

dependencies = ["PyYAML>=6.0.1", "PyMuPDF>=1.23.4"]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Programming Language :: Rust",
  "Topic :: Scientific/Engineering :: Physics",
]

[project.urls]
homepage = "https://alphaloop.ch"
repository = "https://github.com/alphal00p/gammaloop"

[tool.maturin]
features = ["python_api"]
python-source = "python"
module-name = "gammaloop._gammaloop"
sdist-include = ["LICENSE.md", "README.md"]

[project.scripts]
gammaloop_rust_cli = "gammaloop._gammaloop:rust_cli"
gammaloop = "gammaloop:cli"

[tool.pytest.ini_options]
markers = [
  "slow: marks tests as slow (deselect with '-m \"not slow\"')",
  "rust: marks test for rust interop (deselect with '-m \"not rust\"')",
  "codecheck: marks tests about type checking and rust coding style (clippy) (deselect with '-m \"not codecheck\"')",
  "drawing: marks tests about rendering graphs (deselect with '-m \"not drawing\"')",
]

[tool.mypy]
disable_error_code = "no-redef"
check_untyped_defs = true
exclude = [
  'python/gammaloop/data/templates/drawing/combine_pages.py',
  'python/gammaloop/data/models/*',
]

[tool.pyright]
include = ["python/gammaloop"]
exclude = [
  "python/gammaloop/data/templates/drawing/combine_pages.py",
  "python/gammaloop/data/models/*",
  "python/gammaloop/tests/test_data/models/*",
  "python/gammaloop/examples/cards/*",
  "python/gammaloop/dependencies/*",
  "python/gammaloop/_gammaloop.so",
  "python/gammaloop/requirements.txt",
  "python/gammaloop/run_python_tests.sh",
]
