# This workflow will install Python dependencies, and run all relevant gammaLoop tests
name: gammaLoopTests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ready_for_review]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
#    - name: Install TeXlive
#      run: sudo apt-get update && sudo apt-get install texlive-full texlive-publishers texlive-science latexmk cm-super feynmf
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pyright
        if [ -f python/gammaloop/requirements.txt ]; then pip install -r python/gammaloop/requirements.txt; fi
    - name: Update rust
      run: |
        rustup update
    - name: Compile dependencies
      run: |
        ./bin/build_dependencies.sh    
    - name: Compile binary
      run: |
        ./bin/compile_bin.sh --release
    - name: Compile library
      run: |
        ./bin/compile_lib.sh --release
    - name: Run code checks
      run: |
        ./bin/run_tests.sh python -m "codecheck"
    - name: Run python tests
      run: |
        ./bin/run_tests.sh python -m "not drawing" --max-runtime 300.0
      timeout-minutes: 120
    - name: Run native rust tests
      run: |
        ./bin/run_tests.sh rust
